body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #e09992;
}

.divider {
  margin: 40px 0 30px 20px;
}

h1 {
  font-family: "Kashuan Script";
}
/* NAV BAR */

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: left;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1em;
  padding-left: 10px;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
/*  
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
} */
 
@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 
/* MY SETS - section */
.card {
  margin: 5px 15px;
  display: inline-block;
  transform: translate(1%,1%);
  width: 310px;
  height: 350px;
}
.image {
  width: 310px;
  height: 350px;
  overflow: hidden;
}
.card .image img {
  width: 100%;
  transition: .5s;
}
.card:hover .image img {
  opacity: .5;
  transform: translateX(30%);/*100%*/
}
.card .details {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;/*100%*/
  height: 89%;
  background: #7ca9e0;
  transition: .5s;
  transform-origin: left;
  transform: perspective(2000px) rotateY(-90deg);
}
.card:hover .details {
  transform: perspective(2000px) rotateY(0deg);
}
.card .details .center {
  padding: 20px;
  text-align: center;
  background: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.card .details .center h1 {
  margin: 0;
  padding: 0;
  color: #435794;
  line-height: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.card .details .center h1 span {
  font-size: 14px;
  color: #262626;
}
.card .details .center p {
  margin: 10px 0;
  padding: 0;
  color: #262626;
}

/* INPIRATION SECTION */

